{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]
}
