@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	background: #010103;
	font-family: "General Sans", sans-serif;
}

/*html,*/
/*body,*/
/*#root {*/
/*	position: fixed;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background-color: black;*/
/*}*/

canvas {
	touch-action: none;
}

button {
	padding: 10px 20px;
	font-size: medium;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.logout-button {
	background-color: #dc3545;
}

.logout-button:hover {
	background-color: #c82333;
}
